/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

html{
    height: 100%;
}

body{
    background: linear-gradient($primary-light 0%, $primary 25%, $primary 75%, $primary-dark 100%);
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}

.wrapper{
    padding: $base-unit 0;
    margin: 0 auto;
    position: relative;

    &--center{
        text-align: center;

        img{ 
            margin: auto;
        }
    }
}

.site{
    padding: 0 1rem 1rem;
    max-width: $xlarge;
    margin: 0 auto;
        
    h1{
        font-size: 1.4rem;
    }
    
    @include screen-bigger-than( $small ){
        padding: 1% 2% 2%;

        h1{
            font-size: 2rem;
        }
    } 
}

.content{
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

.intro{
    max-width: 760px;
    // @include screen-bigger-than( $medium ){
    //     width: 50%;
    // } 
}