/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

html{
    height: 100%;
}

body{
    background-color: $grey-light;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper{
    padding: $base-unit;
    margin: 0 auto;
    position: relative;

    &--center{
        text-align: center;

        img{ 
            margin: auto;
        }
    }
}

.content{
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

.padding{
    padding: $base-unit;
    
    &--double{
        padding: $base-unitx2;        
    }
}