/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

body{
    color: $light;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1.2;
}

h1,h2,h3,h4,h5{
    padding: 0;
    font-weight: normal;
}

a{
    color: $secondary-dark;
    text-decoration: none;
    font-weight: bold;

    &:hover{
        color: $secondary-light;
    }
}

.page-title{
    margin: 0;
    font-weight: bold;
    color: $light;
}

.font{

    &--code{
        font-family: monospace;
    }
}