/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/


// Colours
$primary-colour: #EB6300;
$secondary-colour: #111c3a;
$secondary-highlight: #192850;
$grey-light: #E5E5E5;
$grey-dark: #D8D8D8;
$light: #FFF;
$dark: #3C455B;
// $link: #688BE3;

$style-1-primary: #dadada;
$style-1-secondary: #bdbdbd;
$style-1-accent: #42b596;
$style-1-accent-light:#4dc3a4;


// Spacing
$base-unit: 12px;
$base-unitx2: $base-unit * 2;
$half-unit: $base-unit/2;

$small: 767px;
$medium: 1024px;
$large: 1200px;

$site-width: $large;