        
        <div class="wrapper--center">
            <a class="hide-tablet" href="https://go.nordvpn.net/aff_c?offer_id=15&aff_id=60327&url_id=902" title="NordVPN special deal"><img src="/assets/affiliate/1200x628-v3-logo.png" class="w-100" /></a>
            <a class="hide-mobile" href="https://go.nordvpn.net/aff_c?offer_id=15&aff_id=60327&url_id=902" title="NordVPN special deal"><img src="/assets/affiliate/728x90.png" class="w-100" /></a>
        </div>

        <footer class="wrapper">
            <a href="/sitemap" title="Shortcode.dev sitemap" class="padding">Sitemap</a>
            <a href="https://github.com/proochster/shortcode" title="Shortcode.dev Git repository" class="padding">Git repository</a>
            <p class="">
                Last updated on {{ site.time | date_to_long_string }} by <a href="https://thewebsitesguy.co.uk" title="The Websites Guy">The Websites Guy</a>
            </p>
        </footer>    
    </div>
    <script src="{{ '/main.js' | absolute_url }}"></script>
    </body>
</html>