        <div class="wrapper">
            <a href="/sitemap" title="Shortcode.dev sitemap" class="padding">Sitemap</a>
            <a href="https://github.com/proochster/shortcode" title="Shortcode.dev Git repository" class="padding">Git repositpry</a>
        </div>
        <footer>
            <div class="wrapper">
                Last updated on: {{ site.time | date: "%r %D" }}
            </div>
        </footer>
    </div>
    <script src="{{ '/main.js' | absolute_url }}"></script>
    </body>
</html>