        <footer class="wrapper">
            <a href="/sitemap" title="Shortcode.dev sitemap" class="padding">Sitemap</a>
            <a href="https://github.com/proochster/shortcode" title="Shortcode.dev Git repository" class="padding">Git repository</a>
            <p class="">
                Last updated on {{ site.time | date_to_long_string }} by <a href="https://thewebsitesguy.co.uk" title="The Websites Guy">The Websites Guy</a>
            </p>
        </footer>    
    </div>
    <script src="{{ '/main.js' | absolute_url }}"></script>
    </body>
</html>