<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if page.collection %}{{ page.collection | capitalize }} cheatsheet > {% endif %}{% if page.title %}{{ page.title | capitalize }}{% endif %}{% unless page.collection %} | {{ site.title }}{% endunless %}</title>{% 
    capture collections %}{% for collection in site.collections %}{% unless collection.label == "posts" %}, {{ collection.label }}{% endunless %}{% endfor %}{% endcapture %}
    {% if include.description == true 
        %}{% capture description %}{{ page.title }}{% for code in site[page.group] %}, {{ code.title | capitalize }}{% endfor %}{% endcapture %}
        {%
        else 
        %}{% capture description %}{{ page.description }}{% endcapture %}{% 
        endif 
    %}<meta name="description" content='{{ description | truncate: 160 }}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="{{site.url}}{{page.url}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136073428-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-136073428-1');
    </script> 
    <script>
        if ('serviceWorker' in navigator) {
            console.log('CLIENT: service worker registration in progress.');
            navigator.serviceWorker.register('/sw.js').then(function() {
                console.log('CLIENT: service worker registration complete.');
            }, function() {
                console.log('CLIENT: service worker registration failure.');
            });
            } else {
            console.log('CLIENT: service worker is not supported.');
        }
    </script>
    <link rel="manifest" href="{{ site.url }}/manifest.json">
    <style type="text/css">{% capture include_to_scssify %}{% include bundle.scss %}{% endcapture %}{{ include_to_scssify | scssify }}</style>  
    <meta name="theme-color" content="{{ site.theme-colour }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">
    {% feed_meta %}
</head>
<body>
<div class="site" id="sc">