{% assign current = page.url | downcase | split: '/' %}
<nav class="nav">
    <div class="nav__scroll">
        <ul class="nav__list wrapper wrapper--no-padding">{% for collection in site.collections %}{% unless collection.label == "posts" %}
            <li class="nav__item">
                <a href="/{{ collection.link }}#{{ collection.link }}" id="{{ collection.link }}" title="{{ collection.label | upcase }} cheatsheet" class="nav__link{% if current[1] == collection.link %} active{% endif %}"><i class="nav__icon {{collection.icon }}"></i> {{ collection.label | upcase }} <small>({{ site[collection.label] | size }})</small></a>
            </li>{% endunless %}{% endfor %}
        </ul>
    </div>
</nav>