{% assign current = page.url | downcase | split: '/' %}
<nav class="nav">
    <ul class="nav__list wrapper wrapper--no-padding">{% for item in site.collections %}{% unless item.label == "posts" %}
        <li class="nav__item">
            <a href="/{{ item.permalink }}" title="{{ item.label | upcase }} lookup table" class="nav__link{% if current[1] == item.permalink %} active{% endif %}"><i class="color--primary {{item.icon }}"></i> {{ item.label | upcase }} <small>({{ site[item.label] | size }})</small></a>
        </li>{% endunless %}{% endfor %}
    </ul>
</nav>