
{% assign current = page.url | downcase | split: '/' %}
<div class="search">{% for item in site.collections %}
        {% if current[1] == item.link %}<i class="search__icon-bg {{ item.icon }}"></i>{% endif %}
    {% endfor %}
    <div class="wrapper">
        <h1 class="page-title">{{page.title}}</h1>
    </div>
    <div class="search__wrapper">
        <label for="search" class="search__count">Search {{page.title}}</label>
        <input type="text" name="search" id="search" placeholder="Search {{page.group}} short codes" class="search__input">
        <span class="search__icon"></span>
    </div>
</div>