<section class="sc">
    <div class="sc__section">
        <div class="sc__description">
            <h3 class="sc__title">Title</h3>
        </div>
    </div>
    <div class="sc__section">
        <div class="sc__example">
            <code class="sc__code">
{% highlight css %}
&__description{
    margin:  0; 
    // padding: 0 0 $base-unit $base-unit; 
    // background-color: $light;
    max-width: 2;
    float: right;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

&__title{
    font-size: 28px;
    margin: 0;
    border-bottom: 1px solid;
}
{% endhighlight %}           
            </code>
        </div>
    </div>
</section>