{% assign sortedcodes = site[page.group] | sort:"title" %}{% for code in sortedcodes %}
<article class="scode scode--main" data-display="true" ref="shortcode">
    <div class="scode__section">
        <div class="scode__description">
            <a id="{{ code.title | slugify }}" title="{{ code.title }}" href="{{ code.url }}" rel="tag" class="scode__anchor"><h2 class="scode__title">{{ code.title }}</h2></a>    
            {% if code.description.size > 0 %}<p class="scode__text">{{ code.description }}</p>{% endif %}{% if code.tags.size > 0 %}
            <span class="scode__tags">
                {% for tag in code.tags %}<span class="scode__tag">#{{ tag }}</span>{% endfor %}
            </span>{% endif %}
            {% if code.ref %}<div class="scode__ref">
                <span>Reference:</span> <a href="{{ code.ref }}" target="_blank" title="{{ code.title }} reference">{{ code.ref }}</a> 
            </div>{% endif %}
        </div>
    </div>
    <div class="scode__section">
        <div class="scode__example">
            <code class="scode__code">
                {% include code-highlight.html type = page.group content = code.content parse = code.parse %}
            </code>
            <span class="scode__copy"><i class="far fa-copy"></i> <span class="scode__copy-text">copy</span></span>
        </div>
    </div>
</article>{% endfor %}