<article class="sc sc--single" data-display="true" ref="shortcode">
    <div class="sc__section">{% if page.tags.size > 0 %}
        <span class="sc__tags">
            {% for tag in page.tags %}<span class="sc__tag">#{{ tag }}</span>{% endfor %}
        </span>{% endif %}
        <div class="sc__description">
            <a id="{{ page.title | slugify }}" title="{{ page.title }}" href="{{ page.url }}" rel="tag" class="sc__anchor"><h2 class="sc__title">{{ page.title }}</h2></a>    
            {% if page.description.size > 0 %}<p class="sc__text">{{ page.description }}</p>{% endif %}
        </div>
    </div>
    <div class="sc__section">
        <div class="sc__example">
            <code class="sc__code">
                {% include code-highlight.html type = page.collection content = page.content parse = page.parse %}
            </code>
            <span class="sc__copy"><i class="far fa-copy"></i> <span class="sc__copy-text">copy</span></span>
        </div>
    </div>
</article>