{% assign sortedcodes = site[page.group] | sort:"title" %}{% for code in sortedcodes %}
<article class="sc" data-display="true" ref="shortcode">
    <div class="sc__section">{% if code.tags.size > 0 %}
        <span class="sc__tags">
            {% for tag in code.tags %}<span class="sc__tag">#{{ tag }}</span>{% endfor %}
        </span>{% endif %}
        <div class="sc__description">
            <a id="{{ code.title | slugify }}" title="{{ code.title }}" href="{{ code.url }}" rel="tag" class="sc__anchor"><h2 class="sc__title">{{ code.title }}</h2></a>    
            {% if code.description.size > 0 %}<p class="sc__text">{{ code.description }}</p>{% endif %}
        </div>
    </div>
    <div class="sc__section">
        <div class="sc__example">
            <code class="sc__code">
                {% case page.group %}
                    {% when 'css' %}{% highlight css %}{{ code.content }}{% endhighlight %}
                    {% when 'html' %}{% highlight html %}{{ code.content }}{% endhighlight %}
                    {% when 'javascript' %}{% highlight javascript %}{{ code.content }}{% endhighlight %}
                    {% when 'liquid' %}{% highlight liquid %}{{ code.content }}{% endhighlight %}  
                    {% when 'git' %}{% highlight shell %}{{ code.content }}{% endhighlight %}   
                    {% when 'vue' %}{% highlight vue %}{{ code.content }}{% endhighlight %}  
                    {% when 'node' %}{% highlight shell %}{{ code.content }}{% endhighlight %}
                    {% when 'cli' %}{% highlight shell %}{{ code.content }}{% endhighlight %}
                    {% when 'markdown' %}{% highlight markdown %}{{ code.content }}{% endhighlight %}
                    {% when 'laravel' %}{% highlight php %}{{ code.content }}{% endhighlight %}
                    {% when 'artisan' %}{% highlight shell %}{{ code.content }}{% endhighlight %}
                    {% when 'blade' %}{% highlight php %}{{ code.content }}{% endhighlight %}
                {% endcase %}{% if code.parse == true %}<div class="sc__output"><span class="color--accent">Output:</span>{{ code.content | markdownify }}</div>{% endif %}
            </code>
            <span class="sc__copy"><i class="far fa-copy"></i> <span class="sc__copy-text">copy</span></span>
        </div>
    </div>
</article>{% endfor %}