/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

footer{
    
    @include screen-bigger-than( $small ){
        display: flex;
        align-items: center;

        p{
            flex-grow: 1;
            text-align: right;
        }
    }
}