/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header{
    // background-color: $light;
    @include screen-bigger-than( $small ){
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
    }
}

.bmc-btn{
    height: 50px !important;
    font-size: 12px !important;
    padding: 0 20px !important;
}

@include screen-smaller-than( $small ) {

    .bmc-btn{
        margin-top: 1rem;
    }
}