/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo{
    text-decoration: none;
    color: $primary-colour;
    font-size: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}