/*------------------------------------*\
    #CODE NAVIGATION
\*------------------------------------*/

.nav{
    // border-bottom: 3px solid $secondary-colour;
    // box-shadow: 0px 4px 10px -4px $style-1-secondary;
    background-color: $secondary-colour;
    width: 100%;
    display: block;
    border-bottom: 3px solid $style-1-accent;
    
    &__scroll{
        overflow-x: scroll;
        
        @include screen-bigger-than($small){
            overflow-x: visible;
        }
    }

    &__list{
        padding: 0;
        display: table;
        
        @include screen-bigger-than($small){
            display: block;
        }
    } 

    &__item{        
        display: table-cell;
        
        @include screen-bigger-than($small){
            display: inline-block;
        }
    }

    &__link{
        padding: $base-unit;
        color: $light;
        text-decoration: none;
        display: block;
        white-space: nowrap;

        &.active{
            background-color: $style-1-accent;
            color: $light;
        }
    }

    &__icon{
        color: $primary-colour;

        .active &{
            color: white;
        }
    }
}