/*------------------------------------*\
    #SHORTLISTS
\*------------------------------------*/

.sls{
    display: flex;
    flex-wrap: wrap;
}

.sl{
    
    margin: $base-unit;

    &__title{

    }

    &__list{
        padding: $half-unit 0;
        border-top: 1px solid $grey-light;
    }

    &__item{
        list-style: none;
    }
    
    &__link{
        color: $dark;
        display: inline-block;
        border: 1px solid;
        border-radius: 3px;
        padding: $half-unit $base-unit;
        margin: $half-unit $half-unit $half-unit 0;
    }
}