/*------------------------------------*\
    #SEARCH
\*------------------------------------*/

.sc{
    color: $grey-light;
    padding: $base-unit;
    
    @include screen-bigger-than($small){
        display: flex;
    }

    &__section{
        width: 100%;
        box-sizing: border-box;

        @include screen-bigger-than($small){
          width: 50%;  
        }
    }

    &__description{        
        background-color: $style-1-primary;
        background: linear-gradient(15deg,$style-1-primary,$style-1-secondary);
        border-left: $base-unit solid $style-1-accent;
        box-shadow: 0 1px 1px #000;
        border-radius: 2px;
        padding: $base-unit;
        display: block;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        
        &:after{
            border-color: $style-1-primary transparent transparent transparent;
            border-style: solid;
            top: $base-unit;
            border-width: 10px 10px 0 10px;
            content: '';
            position: absolute;
            top: 100%;
        }
        
        @include screen-bigger-than($small){
            max-width: $large / 2 - $base-unit;
            float: right;

            &:after{
                border-color: transparent transparent transparent $style-1-secondary;
                border-width: 10px 0 10px 10px;
                left: 100%;
                top: $base-unit;
            }
        }
    }

    &__anchor{
        color: $light;
        text-decoration: none;
        display: block;

        &:hover{
            text-decoration: underline;
        }
        
        &:focus{
            outline: 0;
            background-color: $style-1-accent;
            padding: $base-unit;
            border-radius: 3px;
        }
    }

    &__title{    
        text-shadow: 0 -1px #000;
        font-size: 28px;
        margin: 0;
    }

    &__tags{
        width: 100%;
        display: block;
        text-align: right;
        padding: 0 $base-unit;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        line-height: 0;
    }
    
    &__tag{
        background-color: $secondary-colour;
        font-size: $base-unit;
        padding: 1px $base-unit/2;
        margin-left: $base-unit/2;
    }
    
    &__text{
        color: $grey-dark;
        margin: 0;
        font-style: italic; 
        
        &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 1px;
            background: $style-1-secondary;
        }
    }
    
    &__example{
        padding: $base-unit*2 $base-unit*2 $base-unit;
        color: $light;
        height: 100%;
        overflow: overlay;
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Encode Sans Semi Expanded', sans-serif;
        
        @include screen-bigger-than($small){
            padding: $base-unit $base-unit*2;
            font-size: 16px;
        }
    }

    &__code{
        font-family: 'Encode Sans Semi Expanded', sans-serif;
        
        code{
            white-space: pre-wrap;
            line-height: 1.6;
        }
    }
}