/*------------------------------------*\
    #SHORTCODE
\*------------------------------------*/

.sc{
    
    &__section{
        width: 100%;
        box-sizing: border-box;
        position: relative;
        border-bottom: 5px solid $grey-dark;

        @include screen-bigger-than($small){
          width: 30%;  
        }

        + .sc__section{
            background: $secondary-colour;
            background-image: linear-gradient(to right, $secondary-colour, $secondary-highlight);
            border-bottom-color: $secondary-highlight;

            @include screen-bigger-than($small){
                width: 70%;  
            }
        }
    }

    &__description{
        padding: $base-unit*2;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        
        @include screen-bigger-than($small){
            max-width: $large / 2 - $base-unit;
            float: right;
        }
    }

    &__anchor{
        color: $light;
        text-decoration: none;
        display: block;

        &:hover{
            text-decoration: underline;
        }
        
        &:focus{
            outline: 0;

            &:after{
                content: "#";
                color: $primary-colour;
                background-color: $light;
                font-size: 21px;
                padding: 2px 10px;
                margin-left: 6px;
                border-radius: 3px;
            }
        }
    }

    &__title{    
        color: $secondary-colour;
        text-shadow: 0 1px $light;
        font-size: 28px;
        margin: 0;
        display: inline-block;
    }

    &__tags{
        width: 100%;
        text-align: right;
        padding: 0 $base-unit;
        box-sizing: border-box;
        position: absolute;
        top: -2px;
    }
    
    &__tag{
        background-color: $light;
        font-size: $base-unit;
        padding: 1px $half-unit;
        margin-left: $half-unit;
        border-radius: 0 0 3px 3px;
        color: $secondary-colour;
    }
    
    &__text{
        color: $secondary-colour;
        margin: 0;
    }
    
    &__example{
        padding: $base-unit*2;
        height: 100%;
        overflow: overlay;
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Roboto Mono', monospace;
    }

    &__code{
        font-family: 'Roboto Mono', monospace;
        
        code{
            white-space: pre-wrap;
            line-height: 1.6;
        }
    }

    &__output{
        margin-top: $base-unit;
        padding: $base-unit 0;
        border-top: 1px dashed;
    }

    &__copy{
        font-size: $base-unit;
        bottom: $base-unit;
        right: $base-unitx2;
        position: absolute;
        border: 1px solid;
        border-radius: 3px;
        padding: 3px 6px;
        cursor: pointer;
    }

    &--single{
        min-height: 50vh;
    }
}