/*------------------------------------*\
    #SHORTLISTS
\*------------------------------------*/

.sls{

    @include screen-bigger-than($small){
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
}

.sl{
    
    flex-basis: 18%;
    margin: 1%;

    &__title{
        position: sticky;
        top: 0;
        margin-bottom: 0;
        background-color: $light;
    }

    &__list{
        padding: $half-unit 0;
        border-top: 1px solid $grey-light;
    }

    &__item{
        list-style: none;
    }
    
    &__link{
        color: $dark;
        display: inline-block;
        // border: 1px solid;
        // border-radius: 3px;
        // padding: $half-unit $base-unit;
        margin: $half-unit $half-unit $half-unit 0;
    }
}