/*------------------------------------*\
    #SHORTCODE
\*------------------------------------*/

.scode{
    background-color: $light-transparent;
    border-radius: .5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    
    &__section{
        background-color: $light-transparent;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        // border-bottom: 5px solid $grey-dark;

        @include screen-bigger-than($small){
          width: 30%;  
        }

        + .scode__section{
            background: none;
            // background-image: linear-gradient(to right, $secondary-colour, $secondary-highlight);
            // border-bottom-color: $secondary-highlight;

            @include screen-bigger-than($small){
                width: 70%;  
            }
        }
    }

    &__description{
        padding: $base-unit*2;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        
        @include screen-bigger-than($small){
            max-width: $large / 2 - $base-unit;
            float: right;
        }
    }

    &__anchor{
        color: $light;
        text-decoration: none;
        display: block;

        &:hover{
            text-decoration: underline;
        }
        
        &:focus{
            outline: 0;

            &:after{
                content: "#";
                color: $primary-colour;
                background-color: $light;
                font-size: 13px;
                padding: 2px 5px 2px 18px;
                margin-left: 6px;
                border-radius: 3px;
                position: absolute;
                left: -1.2rem;
                top: 2.1rem;
            }
        }
    }

    &__title{    
        font-size: 28px;
        display: inline-block;
        margin: 0 0 $half-unit;
        color: $secondary-light;
        // text-shadow: 0 1px $light;
    }

    &__tags{
        display: block;
        padding-top: $half-unit;
        color: $secondary-dark;
    }
    
    &__tag{
        font-size: $base-unit;
        margin-right: $half-unit;
    }
    
    &__text{
        margin: 0;
        line-height: 1.3;
    }
    
    &__example{
        padding: $base-unit*2;
        height: 100%;
        overflow: overlay;
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Roboto Mono', monospace;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__code{
        font-family: 'Roboto Mono', monospace;
        
        code{
            white-space: pre-wrap;
            line-height: 1.6;
        }
    }

    &__output{
        margin-top: $base-unit;
        padding: $base-unit 0;
        border-top: 1px dashed;
    }

    &__copy{
        font-size: $base-unit;
        bottom: $base-unit;
        right: $base-unitx2;
        position: absolute;
        border: 1px solid;
        border-radius: 3px;
        padding: 3px 6px;
        cursor: pointer;
    }
}